body {
  font-family: 24px/1.5, "New Century Schoolbook", "TeX Gyre Schola", serif;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  overflow: hidden;
}

.main-header {
  font-size: 45px;
  text-transform: uppercase;
}

button:hover {
  background: #bebebe;
  cursor: pointer;
}

/* header */
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #171717;
  opacity: 70%;
  min-height: 40px;
  text-transform: uppercase;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home-head {
  background-image: url("./imgs/person-in-field.jpg");
  background-size: cover;
  position: relative;
  text-align: left;
  color: #E6E4E4;
  min-height: 850px;
  max-height: 850px;
}

#home-head .layer {
  background-color: rgba(10, 10, 10, 0.5);
  position: absolute;
  width: 100%;
  height: calc(100% - 101px);
}

header a {
  text-decoration: none;
  color: #E6E4E4;
}

header li {
  display: inline;
  padding-left: 16px;
  padding-right: 16px;
}

header #branding {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-left: 70px;
  font-size: 24px;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
}

/* home-page */
#home-page .container {
  position: absolute;
  font-size: 45px;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  padding: 150px;
  color: #E6E4E4;
}

#home-page button {
  width: 170px;
  height: 45px;
  background: #E6E4E4;
  border-radius: 8px;
  stroke: none;
  font-size: 28px;
  font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
  text-align: center;
  color: #434242;
}

/* About page */
#about-page {
  color: #434242;
  margin-top: 30px;
}

#about-page h1 {
  text-align: center;
}

#about-page section h1 {
  font-size: 36px;
}

#about-page button {
  color: #E6E4E4;
  background: #434242;
  font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
  font-size: 16px;
  width: 120px;
  height: 35px;
  margin-bottom: 40px;
  margin-left: calc(50% - 60px);
}

#about-page p {
  padding: 40px;
  font-size: 22px;
  text-align: center;
}

#about-page .container .container .container {
  margin: 40px;
}

#about-page img {
  height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-page .container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#regions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#regions .container {
  border: 3px solid;
  border-color: #434242;
  width: 500px;
}

#teas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85px;
}

#teas .container {
  border: 3px solid;
  border-color: #434242;
  width: 500px;
}

#ethical-sourcing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ethical-sourcing .container {
  border: 3px solid;
  border-color: #434242;
  width: 500px;
}

/* our story page */
#story-page {
  background-image: url("./imgs/Chefchaouen.jpg");
  background-size: cover;
  position: relative;
  min-height: 825px;
  max-height: 825px;
  color: #E6E4E4;
  margin-top: 100px;
}

#story-page h1 {
  text-align: center;
}

#story-page .layer {
  background-color: rgba(10, 10, 10, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
}

#story-page .container {
  margin-top: 125px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#story-and-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#story-and-photo .v1 {
  border-left: 6px solid #E6E4E4;
  border-radius: 8px;
  height: 250px;
}

#story-and-photo p {
  width: 500px;
  padding: 40px;
  font-size: 22px;
}

#story-page img {
  height: 300px;
  width: 400px;
}

/* contact page */
#contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-page label {
  text-align: left;
  padding-bottom: .6vw;
}

.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

form {
  max-width: 500px;
  min-width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form p label {
  display: block;
}

form p input {
  display: block;
  border-radius: 5px;
  min-width: 30vw;
  height: 30px;
  padding-left: 10px;
}

form button {
  color: #434242;
  background: white;
  border-radius: 5px;
  width: 8vw;
  height: 4vh;
}

#contact-page {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #434242;
}

#contact-page img {
  height: 400px;
  width: 500px;
  float: left;
  margin-left: 15%;
}

#contact-page button {
  color: #434242;
  background: white;
  border-radius: 8px;
  margin: 10px;
}

#message-input {
  height: 60px;
}

/* footer */
footer {
  background: #434242;
  color: #E6E4E4;
  margin-top: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

footer a {
  text-decoration: none;
  color: #E6E4E4;
}

footer ul {
  text-decoration: none;
}

footer li {
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */